<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/init.js"></script>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <div id="app"></div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
