html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
  font-size: 16px;
  color: #555555;
  background: #eee;
}
.Header__leikir___213Do {
  padding-bottom: 4.8rem;
}
.Header__header___3Er3C {
  z-index: 2;
  position: fixed;
  box-sizing: border-box;
  padding: 0 2rem;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  border-bottom: 0.3rem solid #d40050;
}
.Header__inner___3llce {
  height: 4rem;
  box-sizing: border-box;
  padding-left: 4rem;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.Header__logo___1LTJE {
  position: absolute;
  max-width: 3rem;
  left: 0rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Header__burger___1ixrj {
  display: none;
  position: absolute;
  z-index: 2;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Header__header___3Er3C h1 {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 2.86;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}
@media (min-width: 720px) {
  .Header__inner___3llce {
    height: 6rem;
    padding-left: 4rem;
  }
  .Header__logo___1LTJE {
    left: 0;
  }
  .Header__header___3Er3C h1 {
    line-height: 3;
    font-size: 2rem;
  }
}
@media (max-width: 1300px) {
  .Header__burger___1ixrj {
    display: block;
  }
}
.PostListItem__listItem___2hd2F {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}
.PostListItem__listItem___2hd2F h1 {
  margin-top: 0;
  font-size: 2rem;
}
.PostListItem__listItem___2hd2F h1 a {
  color: #333;
  text-decoration: none;
}
.PostListItem__listItem___2hd2F h1 a:hover {
  color: #d40050;
}
.PostListItem__image___1PFXr {
  margin-right: 1rem;
}
.Post__image___3F-il img {
  width: 100%;
}
.Post__date___4SKve {
  display: block;
  margin-bottom: 2rem;
}
.layout__wrap___3O94J {
  padding-top: 4rem;
}
.layout__content___3n_Rh {
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 600px;
  min-height: calc(96vh);
  background: #fff;
}
@media (min-width: 720px) {
  .layout__wrap___3O94J {
    padding-top: 6rem;
  }
  .layout__content___3n_Rh {
    min-height: calc(94vh);
  }
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
  font-size: 16px;
  color: #555555;
  background: #eee;
}
.Global__leikir___1xLCG {
  padding-bottom: 4.8rem;
}
