.listItem{
	display: flex;
	margin-bottom: 2rem;

	h1{
		margin-top: 0;
		font-size: 2rem;
		a{
			color: #333;
			text-decoration: none;
			&:hover{
				color: #d40050;
			}
		}
	}
}

.image{
	margin-right: 1rem;
}