@primary-color: #d40050;
@secondary-color: #333;

html{
	font-size: 62.5%;
	overflow-x: hidden;
	overflow-y: scroll;
}

body{
	margin: 0; 
	padding: 0;
	font-family: 'roboto';
	font-size: 16px;
	color: #555555;
	background: #eee;
}

.leikir{
	padding-bottom: 4.8rem;
}